@font-face {
    font-family: Arodora Pro;
    src: url("../fonts/ArodoraPro-Light.otf");
}

@font-face {
    font-family: Nico Moji;
    src: url("../fonts/NicoMoji-Regular.ttf");
}


.wrapper {
    padding: 50px 0 32px 0;
    margin: 0 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_main {
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
}

.left_list_block {
    margin-right: 115px;
}

.list_type {
    list-style-type: none;
}
.list_type > a {
    text-decoration: none;
    color: #E4E4E4;
}

.list {
    font-family: Arodora Pro, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #E4E4E4;
    margin-bottom: 18px;
    cursor: pointer;
}

.list:hover {
   color: #E2A300;
}

.wrapper_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 56px;
}

.wrapper_right_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 63px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 32px;
}

.logo_name {
    margin-left: 15px;
    font-size: 18px;
    color: white;
    font-family: "Nico Moji", serif;
    font-style: normal;
    font-weight: normal;
}

.button_top {
    font-size: 50px;
    color: #E2A300;
    cursor: pointer;
}

.button_top_link:active {
    transition: all 0.5s;
}

@media (max-width: 450px) {
    .wrapper {
        margin: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .left_list_block {
        margin-right: 0;
    }

    .wrapper_right {
        margin-top: 20px;
        margin-left: 30px;
    }
}