@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@import "~normalize.css";

body {
  position: relative;
  background: var(#{--body-background-default});
}

*, *:after, *:before {
  box-sizing: border-box;
}